{% extends 'base.html' %}
{% load static %}
{% block content %}
<div style="color: white; font-family: Arial, sans-serif; padding: 20px;">
    <h1>Welcome to Ahmed Store</h1>
    <p>Hello Ahmed!</p>
    <img src="{% static 'HGPF0748.JPG' %}" alt="Photo" style="width:25%; height:auto; border-radius:8px;" />
    
    <nav>
        <ul style="display:flex; gap:12px; list-style:none; padding:0; margin:16px 0;">
            <li><a href="{% url 'ahmed' %}" style="color: #06b6d4;">Home</a></li>
            <li><a href="{% url 'about' %}" style="color: #06b6d4;">About</a></li>
        </ul>
    </nav>
</div>
{% endblock %}

